@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  padding: 0;
  margin: 0;

  font-family: "Noto Sans KR", sans-serif;
}

body {
  background-color: black;
  color: white;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 60px;
  background-color: black;
  color: white;
  padding-top: 10px;
}

#header h1 {
  margin-top: 0px;
  float: left;
  padding-left: 150px;
  width: 300px;
  margin: 0 auto;
}

#header h1 img {
  width: 190px;
}

#header form {
  padding-right: 150px;
  float: right;
  height: 30px;
  padding-top: 10px;
}

#header form #searchInput {
  width: 140px;
  height: 30px;
  margin-right: 10px;
}

#header form input[type="text"] {
  width: 150px;
  height: 37px;
  border: 2px solid white;
  border-radius: 30px;
  background: none;
  outline: none;
  color: white;
  font-size: 13px;
  padding-left: 30px;
  padding-right: 30px;
}

#header form #searchBtn {
  float: right;
  padding: 4px 0 0 4px;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-top: 0;
}

#header form #searchBtn img {
  width: 23px;
}

/* 영화 카드 '전체'부분 */
#movie-container {
  background-color: rgba(70, 70, 70, 0.346);
  height: 550px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  /* text-align: left; 가로로 정렬되면서 중앙에 위치 */
}

/* 영화 카드 '이미지'부분 */
.card {
  margin-left: 60px;
  border-radius: 20px;
  overflow: hidden;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

/* 영화 카드 '텍스트'부분 */
.card-text {
  margin-left: 80px;
  width: 630px;
}

.card-text h1 {
  font-size: 30px;
  margin-bottom: 27px;
}

.card-text h3 {
  font-size: 17px;
  margin-bottom: 20px;
  font-weight: normal;
}

.card-text p {
  font-size: 15px;
  margin-bottom: 10px;
}

/* 댓글 작성하기 버튼 */
#show-comment-form-button {
  display: block;
  margin-bottom: 50px;
  color: #fff;

  width: 140px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  line-height: 28px;
  background-color: rgb(122, 89, 144);
  cursor: pointer;
  margin: 40px auto 40px auto;
  border-radius: 15px;
}

#show-comment-form-button:hover {
  border: 2px solid white;
  background-color: rgb(78, 58, 90);
}

/* 댓즐작성 폼 전체 */
#comment-form input {
  width: 300px;
  margin-bottom: 10px;
  padding: 5px;
}

/* 댓글작성 텍스트 필드 */
#comment-form textarea {
  width: 300px;
  margin-bottom: 10px;
  padding: 5px;
}

/* 작성폼 */
#comment-form {
  display: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

/* 댓글 남기기 버튼 */
#comment-form-btn {
  color: #fff;
  display: block;
  margin: 20px auto 50px auto;
  width: 140px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  line-height: 28px;
  background-color: rgb(122, 89, 144); /* rgb(36, 36, 36); */
  cursor: pointer;
  border-radius: 15px;
  cursor: pointer;
}

#comment-form-btn:hover {
  border: 2px solid white;
  background-color: rgb(78, 58, 90);
}

/* 코멘트 디스플레이 부분 */
.comment {
  margin-bottom: 10px;
  width: 40%;
  padding: 25px;
  text-align: center;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: rgb(40, 40, 40);
}

/* 삭제버튼 */
.delete-button {
  position: absolute;
  top: 0px;
  right: 20px;
  background-color: rgb(122, 89, 144);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 15px 0px 0px 0px;
  cursor: pointer;
}

.delete-button:hover {
  border: 2px solid white;
  background-color: rgb(78, 58, 90);
}

/* 작성자 이름 진하게 */
.comment-author {
  margin-top: 10px;
  font-weight: bold;
}

/* 댓글내용 */
.comment-text {
  margin-top: 5px;
  text-align: center;
}

/* 수정버튼 */
.edit-button {
  position: absolute;
  top: 0px;
  right: 45px;
  background-color: rgb(122, 89, 144);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 15px 25px 20px 0px;
  cursor: pointer;
}

.edit-button:hover {
  border: 2px solid white;
  background-color: rgb(78, 58, 90);
}

#player-wrapper {
  position: relative;
}

/* 플레이어 동작을 막기위한 블로커 */
#click-blocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: default;
}
#muteButton {
  position: absolute;
  background-color: transparent;
  border: none;
}

#muteButton img {
  width: 40px;
}

.soundBtn-overlay {
  position: absolute;
  bottom: 5%;
  left: 6%;
  transform: translate(-10%, -10%);
  z-index: 3; /* 필요에 따라 조정 가능 */
  color: white; /* 텍스트 색상 설정 */
}
/* ------비슷한영화추천------ */
#similar-container {
  /* 가로로 정렬 */
  display: flex;
  margin: 30px 40px 30px 40px;
  overflow: scroll;
}

#similar-movie-recommend {
  font-size: 25px;
  margin: 70px 0px 25px 35px;
}

#similar-container > li {
  list-style: none;
  float: left;
  margin: 0 10px 20px 10px;
  box-sizing: border-box;
}

#similar-container li .wrap {
  cursor: pointer;
  position: relative;
  width: 200px;
  height: 300px;
  display: block;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 5px 10px 12px 3px rgba(0, 0, 0, 0.4);
}

#similar-container > li h2 {
  font-size: 15px;
  padding-top: 15px;
}

#similar-container > li h3 {
  position: absolute;
  color: rgb(208, 204, 204);
  top: 12px;
  left: 12px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 22px;
  height: 22px;
  line-height: 25px;
  border-radius: 3px;
  text-align: center;
}

#similar-container > li > .wrap span {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 15px;
  background: black;
  line-height: 17px;
  opacity: 0;
  transition: 0.8s;
  color: white;
  font-size: 13px;
  height: 300px;
}

#similar-container > li > .wrap > span:hover {
  opacity: 0.8;
}

#similar-container > li > .wrap p {
  display: none;
}

#similar-container > li > p {
  font-size: 13px;
}
