@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  padding: 0;
  margin: 0;

  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  background-color: black;
  color: white;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 60px;
  background-color: black;
  color: white;
  padding-top: 10px;
}

#header h1 {
  margin-top: 0px;
  float: left;
  padding-left: 150px;
  width: 300px;
  margin: 0 auto;
}

#header h1 img {
  width: 190px;
}

#header form {
  padding-right: 150px;
  float: right;
  height: 30px;
  padding-top: 10px;
}

#header form #searchInput {
  width: 140px;
  height: 30px;
  margin-right: 10px;
}

#header form input[type="text"] {
  width: 150px;
  height: 37px;
  border: 2px solid white;
  border-radius: 30px;
  background: none;
  outline: none;
  color: white;
  font-size: 13px;
  padding-left: 30px;
  padding-right: 30px;
}

#header form #searchBtn {
  float: right;
  padding: 4px 0 0 4px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 0;
}

#header form #searchBtn img {
  width: 23px;
}

/* ---------혜진--------- */

#popular-title,
#Cochelin-title {
  margin: 50px auto 10px auto;
  font-size: 28px;
}

/* 컨테이너 */
#popular-movie-container,
#Cochelin-movie-container {
  height: 400px;
  width: 100%;
  margin: 0 auto;
  height: 350px;
  overflow: hidden;
  position: relative;

  /* !!!!!!!!!!!!!! */
  margin-right: 30px;
}

/* 버튼 */
#popular-movie-container .switchLeft,
#popular-movie-container .switchRight,
#Cochelin-movie-container .switchLeft,
#Cochelin-movie-container .switchRight {
  font-weight: bold;
  height: 100%;
  width: 40px;
  line-height: 310px;
  font-size: 25px;
  text-align: center;
  font-family: sans-serif;
  top: 0;
  z-index: 3;
}

.sliderButton:hover {
  color: rgb(142, 142, 142);
  cursor: pointer;
}

#popular-movie-container .switchLeft,
#Cochelin-movie-container .switchLeft {
  position: absolute;
  left: 0px;
}

#popular-movie-container .switchRight,
#Cochelin-movie-container .switchRight {
  position: absolute;
  right: 0px;
}

/* 슬라이드 */
#popular-movie-list,
#Cochelin-movie-list {
  position: absolute;
  left: 0;
  top: 0;
}

#popular-movie-list.animated,
#Cochelin-movie-list.animated {
  transition: 0.5s ease-out;
}

/* 아이템 */
#popular-movie-item,
#Cochelin-movie-item {
  width: 200px;
  height: 350px;
  float: left;
}

#popular-movie-item:not(:last-child),
#Cochelin-movie-item:not(:last-child) {
  margin-right: 30px;
}

#popular-movie-item:hover,
#Cochelin-movie-item:hover {
  transform: scale(1.05);
  transition: all 0.3s linear;
  z-index: 5;
}

#popular-movie-item > img,
#Cochelin-movie-item > img {
  /* min-width: 147px;
  max-width: 147px;
  height: 200px; */
  height: auto;
  width: 200px;
  margin: 10px;
  transition: 0.5s ease;
  z-index: 2;
}

#popular-movie-rank,
#name {
  position: absolute;
  left: 7%;
  top: 3%;
  color: rgb(240, 240, 240);
  font-size: 25px;
  font-style: italic;
  text-shadow: 2px 2px 2px #000000;
}

/* ---------혜진--------- */

#main {
  /* margin-left: 100px; */
  /* width 값 정하기 */
  width: 80%;
  margin: 0 auto;
}

#main > #movieList {
  display: flex;
}

#main > #movieList > li {
  width: 200px;
  list-style: none;
  float: left;
  /* 30, 30 , 0 , 60에서 수정 */
  padding: 0px 0px 0px 0px;
  /* margin, box-sizing 추가 */
  margin: 30px 10px 20px 10px;
  box-sizing: border-box;
}

#main > #movieList li .wrap {
  cursor: pointer;
  position: relative;
  width: 200px;
  height: 300px;
  display: block;
  overflow: hidden;
  border-radius: 15px;
}

#main > #movieList > li h2 {
  font-size: 15px;
  padding-top: 15px;
}

#main > #movieList > li h3 {
  position: absolute;
  color: rgb(208, 204, 204);
  top: 12px;
  left: 12px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 22px;
  height: 22px;
  line-height: 25px;
  border-radius: 3px;
  text-align: center;
}

#main > #movieList > li > .wrap span {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 15px;
  background: black;
  line-height: 17px;
  opacity: 0;
  transition: 0.8s;
  color: white;
  font-size: 13px;
  height: 300px;
}

#main > #movieList > li > .wrap > span:hover {
  opacity: 0.8;
}

#main > #movieList > li > .wrap p {
  display: none;
}

#main > #movieList > li > p {
  font-size: 13px;
}

#main #topBtn {
  cursor: pointer;
  position: fixed;
  top: 50%;
  right: 30px;
  background: none;
  border: none;
}

#main #topBtn img {
  width: 30px;
}

#main #topBtn:hover {
  opacity: 0.6;
}

#player-wrapper {
  position: relative;
}

#click-blocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: default;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3; /* 필요에 따라 조정 가능 */
  color: white; /* 텍스트 색상 설정 */
}

#movieListBtn {
  width: 120px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  background-color: rgb(115, 87, 133);
  cursor: pointer;
  margin: 50px 50% 50px 47%;
  border-radius: 15px;
}

#movieListBtn:hover {
  border: 2px solid white;
  background-color: rgb(78, 58, 90);
}

.button-overlay {
  position: absolute;
  bottom: 5%;
  right: 3%;
  transform: translate(-10%, -10%);
  z-index: 3; /* 필요에 따라 조정 가능 */
  color: white; /* 텍스트 색상 설정 */
}

.button-overlay #previousBtn,
#nextBtn {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border: none;
  color: black;
  background-color: white;
  margin-right: 20px;
  cursor: pointer;
}
#muteButton {
  position: absolute;
  background-color: transparent;
  border: none;
  bottom: 150%;
  left: 1%;
}
#muteButton img {
  width: 40px;
}

.soundBtn-overlay {
  position: absolute;
  bottom: 5%;
  left: 6%;
  transform: translate(-10%, -10%);
  z-index: 3; /* 필요에 따라 조정 가능 */
  color: white; /* 텍스트 색상 설정 */
}
